<h2>About</h2>

<p>Ever have that random Wednesday night where you're craving wings, but aren't sure who has wing specials? Or that Tuesday where you want to have a beer or two while playing trivia, 
but aren't sure where to do that? Fret no more my friends! WhatsUpRaleigh.com is here for you! We're going to keep you up to date on all the happenings in your favorite city. 
From big concerts and festivals to karaoke nights and trivia spots to daily food and drink specials. WhatsUpRaleigh will be your go to spot for what's happening in Raleigh!</br>

The website is still 'in the works', so bring your feedback, submit your events, or just contact us to say hi.</p>

<p><a href="http://www.whatsupraleigh.com/">WhatsUpRaleigh.com</a> was born as most good ideas are born, on a cocktail napkin at a bar.  We got fed up with missing events in Raleigh 
because the information was scattered all over the web or not at all. We've been through sevral different iterations but this one is the right one.  The site is for the people of 
Raleigh above all else and we want that to reflect by maintaining a clean interface that is not cluttered with ads.  We'll have some sponsors (hopefully) at some point but we'll do it in a way that respects our users.</p>

<p>There are just 2 of us Brian Farrell & Evan Roberts, behind this thing so we'll do our best to keep up with everything going on in this amazing city.  You can help us make the site 
better by <a href="http://www.whatsupraleigh.com/events/new">submitting any event you hear of</a> or by spreading the word about the site with your friends. You can find us on 
<a href="https://www.facebook.com/whatsupraleigh" target="_blank">Facebook.com/WhatsUpRaleigh</a> or Twitter <a href="http://twitter.com/RaleighApp" target="_blank">@RaleighApp</a>.</p>
