<h2>Food Specials <%= @scope %></h2>

<% if @specials %>
  <%= render :partial => 'specials/table', :locals => {:specials => @specials} %>
<% else %>
  <div class="live-load" data-path="<%= food_specials_path(:ajax) %>" data-query="<%= live_query_params %>"></div>
<% end %>
