<h2>Specials at <%= @venue.name %></h2>

<p>
  <%= link_to "See everthing at #{h @venue.name} &raquo;".html_safe, venue_path(@venue.city, @venue.to_uri) %>
</p>

<%= render :partial => 'specials/table', :locals => {:specials => @specials} %>
