<table class="table table-hover">
  <thead>
    <tr>
      <th>Where</th>
    <% each_specials_day do |day| %>
      <th><%= day[0..2].capitalize %></th>
   <% end %>
    </tr>
  </thead>
  <tbody>
    <% specials.each do |special| %>
      <tr>
        <td><%= link_to special.venue.name, venue_path(special.venue.city, special.venue.name) %></td>
      <% each_specials_day do |day| %>
        <td><%= special.send day %></td>
     <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
